* {
	box-sizing: border-box;
}

body {
	background: #1c1b21;
	color: #FAFAFA;
	font-size: 55px;
	font-family: 'Fira Sans', sans-serif;
}

.container {
	border: 10px solid #6c38cc;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: baseline;
}

.item {
	background: #232228;
	border: 1px solid #6c38cc;
	text-align: center;
	padding: 10px;
}

.item4 {
	font-size: 40px;
}

.item8 {
	font-size: 120px;
}