* {
	box-sizing: border-box;
}

body {
	background: #1c1b21;
	color: #FAFAFA;
	font-size: 55px;
	font-family: 'Fira Sans', sans-serif;
}

.container {
	border: 10px solid #6c38cc;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: flex-start;
}

.item {
	background: #232228;
	border: 1px solid #6c38cc;
	text-align: center;
	padding: 10px;
}

.item2 {
	align-self: center;
}